html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: .2fr .75fr 1.25fr .2fr;
  grid-template-rows: .5fr 1fr .5fr 1.5fr;
  grid-template-areas:
    "Title Title Title Title"
    "spaceOne Score-Card Photos spaceTwo"
    "spaceOne Questions Photos spaceTwo"
    "spaceOne Responses Photos spaceTwo";
}
.Title { grid-area: Title; }
.spaceOne { grid-area: spaceOne; }
.spaceTwo { grid-area: spaceTwo; }
.Photos { grid-area: Photos; }
.Score-Card { grid-area: Score-Card; }
.Questions { grid-area: Questions; }
.Responses { grid-area: Responses; }
.spaceTwo { grid-area: spaceTwo; }
.Title { grid-area: Title; }
.Score-Card { grid-area: Score-Card; }
.Questions { grid-area: Questions; }
.Responses { grid-area: Responses; }
.spaceOne { grid-area: spaceOne; }
.Photos { grid-area: Photos; }

body {
  font-family: 'Nanum Gothic', sans-serif;
  color: #545454;
  overflow: hidden;
}
.spaceOne, .spaceTwo {
  background-image: linear-gradient(#d6d6d6, white);
}

.Title {
  text-align: center;
  border: none;
  padding-bottom: 1vw;
  background-image: linear-gradient(white, #d6d6d6);
  display:inline;
}
.skeletonLeft {
  margin-top: 2vw;
  float:left;
  margin-left: 23vw;
  height: 11vw;
  width: 11vw;
}
.skeletonRight {
  float:right;
  margin-top: 2vw;
  margin-right: 23vw;
  height: 11vw;
  width: 11vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.image {
    height: 35vw;
    width: 35vw;
    border: none;
    position: relative;
}
.Score-Card {
  border: 2px solid #474747;
  font-size: 2vw;
}

.Questions {
  border: 2px solid #474747;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  font-size: 2vw;
  background-color: #defaf4;
  border-top: none;
}

.Responses{
  border: 2px solid #474747;
  border-top: none
}

.Photos {
  text-align: center;
  padding-top: 10px;
  border:2px solid #474747;
  border-left: none;
  position: relative;
}
.gameStatus {
  background: #defaf4;
  position: relative;
  margin: auto;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  border-bottom: 2px solid #474747;
}
.oneScore, .twoScore {
  padding-left: 10px;
  background: white
}

#a, #b, #c, #d {
  position: relative;
  width: 13vw;
  height: 8.5vw;
  text-align: center;
  vertical-align:top;
  font-size: 2vw;
  border-radius: 8px;
  font-family: 'Nanum Gothic', sans-serif;
  color: #474747;
  margin-top: 2%;
  margin-left: 2%
}
#a, #c {
  margin-left: 5.5%;
}
#start {
  border-radius: 8px;
  background-color: #defaf4
}
#a:hover, #b:hover, #c:hover, #d:hover {
  background-color: #defaf4
}
#start:hover {
  background-color: #d6d6d6
}