html, body, .grid-container { height: 100%; margin: 0; }

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: .5fr 1fr .5fr 1.5fr;
  gap: 1px 1px;
  grid-template-areas:
    "Title Title"
    "Score-Card Photos"
    "Questions Photos"
    "Responses Photos";
}

.Title { grid-area: Title; }

.Score-Card { grid-area: Score-Card; }

.Questions { grid-area: Questions; }

.Photos { grid-area: Photos; }

.Responses { grid-area: Responses; }


/* For presentation only, no need to copy the code below */
.grid-container * {
  /* border: 2px solid black; */
  position: relative;
}

/* .grid-container *:after {
  position: absolute;
  top: 0;
  left: 0;
} */

#a, #b, #c, #d {
  margin: 10px 0px 0px 5px;
  width: 46%;
  height: 40%;
  text-align: center;
  font-size: 20px;
  
}
.Title {
  text-align: center;
  border: none;
}

.image {
    height: 40vw;
    width: 40vw;
    border: none;
    
}
.Score-Card {
  border: 2px solid black;
  font-size: 20px
}

.Questions {
  border: 2px solid black;
  text-align: center;
  padding: 10px 0px 0px 0px;
  font-size: 20px;
}

.Responses{
  border: 2px solid black;
}
#a:hover, #b:hover, #c:hover, #d:hover, #start:hover {
  background-color: #FFDBDB
}
.Photos {
  text-align: center;
  padding-top: 10px;
  border-top: 2px solid black;
}
.gameStatus {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  background:  #FFDBDB
}